<connectionStrings>
  <add name="SpikeDB_SELECT" connectionString="M074cB4ekCz/kIFnIbx7PgM4K79PfGCn77Yag5dGhk7J1EcEpFTLO5bX2ryVAOvJLPPSfU4eECDvvSKjIZWS+NgkAx5JFAOamVpnCaAJYrCSQWo9MoZkjCX4QTcDy2o8ASCotkoMdDKOPALOaFACeqLp2k0WKA4s"/>
  <add name="SpikeDB_INSERT" connectionString="M074cB4ekCz/kIFnIbx7PgM4K79PfGCn77Yag5dGhk7J1EcEpFTLO5bX2ryVAOvJLPPSfU4eECDvvSKjIZWS+NgkAx5JFAOamVpnCaAJYrCSQWo9MoZkjCX4QTcDy2o8ASCotkoMdDKOPALOaFACeqLp2k0WKA4s"/>
</connectionStrings>